name: Publish to BCR

on:
  release:
    types: [released]

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  publish:
    if: startsWith(github.event.release.tag_name, 'bazel-v')
    uses: bazel-contrib/publish-to-bcr/.github/workflows/publish.yaml@v6.2.0
    with:
      tag_name: ${{ github.event.release.tag_name }}
      registry_fork: mmorel-35/bazel-central-registry
    secrets:
      publish_token: ${{ secrets.BCR_PUBLISH_TOKEN }}
